Use pip install wget

In [1]:
import pandas as pd
import os
import os.path
from xlrd import open_workbook
import wget

pd.set_option('display.max_columns', None)

In [2]:
# Function to scrape non-zip files from website and store on local machine
def download_nonZip_file(file_url,file_name):
    file_path = os.path.join(raw_data_folder,file_name)
    # Check to see if file already in the folder
    if os.path.exists(file_path):
        # If it is in the folder delete it before downloading a fresh copy
        os.remove(file_path)
    # Now download a fresh copy from the site
    wget.download(file_url, os.path.join(raw_data_folder,file_name))

In [3]:
# First set locations for where raw files are kept and where processed files are saved to

# Folder where all raw data files are stored
raw_data_folder = '/Users/bryan/Movies/Data For TDI Project/Raw_Data_County_Level'
# Where processed files are saved to
processed_data_folder = '/Users/bryan/Movies/Data For TDI Project/Processed_Data_County_Level'

In [4]:
# We first scrape the data easily scraped from websites so that wherever possible it is entirely up to date

# Scrape Rural-Urban Continuum Codes from site
download_nonZip_file('https://www.ers.usda.gov/webdocs/DataFiles/53251/ruralurbancodes2013.xls?v=0',
                     'ruralurbancodes2013.xls')
# Scrape Unemployment and Household data from site
download_nonZip_file('https://www.ers.usda.gov/webdocs/DataFiles/48747/Unemployment.xls?v=4925',
                     'Unemployment.xls')

# In the future I would like to incorporate more scraping, but for now the rest have been downloaded by hand

Enter folder and names of all files to load into memory

In [5]:
# crime rates per county
# found on Kaggle https://www.kaggle.com/mikejohnsonjr/united-states-crime-rates-by-county
crime_rate_county_data_name='crime_data_w_population_and_crime_rate.csv'

# Mean Income and Other Statistics at County Level (Contains Continuum Code)
# Found Here: https://www.ers.usda.gov/data-products/county-level-data-sets/download-data/
mean_income_etc_name='Unemployment.xls'

# List of relationships between zip codes, counties, and states
# found here https://www.kaggle.com/danofer/zipcodes-county-fips-crosswalk
zip_code_county_state_relationship_name='ZIP-COUNTY-FIPS_2017-06.csv'

# All below Zillow Data was downloaded from the below page:
# https://www.zillow.com/research/data/

# Correlates different ID's from Zillow
crosswalk_count_name='CountyCrossWalk_Zillow.csv'

# Home Median Listing Price per County
home_median_listing_price_name='County_MedianListingPrice_AllHomes.csv'
# Home Median Listing Price per Sqr Ft Per County
home_median_listing_price_per_sqr_ft_name='County_MedianListingPricePerSqft_AllHomes.csv'

# Rental Median Price 1 Bedroom Per County
rental_median_price_1br_name='County_MedianRentalPrice_1Bedroom.csv'
# Rental Median Price 2 Bedroom Per County
rental_median_price_2br_name='County_MedianRentalPrice_2Bedroom.csv'
# Rental Median Price 3 Bedroom Per County
rental_median_price_3br_name='County_MedianRentalPrice_3Bedroom.csv'
# Rental Median Price 4 Bedroom Per County
rental_median_price_4br_name='County_MedianRentalPrice_4Bedroom.csv'
# Rental Median Price 5 or more Bedrooms per zip code
rental_median_price_5br_or_more_name='County_MedianRentalPrice_5BedroomOrMore.csv'
rental_median_price_all_homes_name='County_MedianRentalPrice_AllHomes.csv'
# Rental Median Price Condo or Coop Per Zip Code
rental_median_price_condo_coop_name='County_MedianRentalPrice_CondoCoop.csv'
# Rental Median Price Duplex or Triplex Per Zip Code
rental_median_price_duplex_triplex_name='County_MedianRentalPrice_DuplexTriplex.csv'
# Rental Median Price Multi-Family Residence with 5+ Familes Per Zip Code
rental_median_price_mfr_with_5plus_name='County_MedianRentalPrice_Mfr5Plus.csv'
# Rental Median Price Single-Family Residence Per Zip Code
rental_median_price_sfr_name='County_MedianRentalPrice_Sfr.csv'
# Rental Median Price for Studio Per Zip Code
rental_median_price_studio_name='County_MedianRentalPrice_Studio.csv'
# Rental Median Price 1 Bedroom Per Sqr Ft Per Zip Code
rental_median_price_1br_per_sqr_ft_name='County_MedianRentalPricePerSqft_1Bedroom.csv'
# Rental Median Price 2 Bedroom Per Sqr Ft Per Zip Code
rental_median_price_2br_per_sqr_ft_name='County_MedianRentalPricePerSqft_2Bedroom.csv'
# Rental Median Price 3 Bedroom Per Sqr Ft Per Zip Code
rental_median_price_3br_per_sqr_ft_name='County_MedianRentalPricePerSqft_3Bedroom.csv'
# Rental Median Price 4 Bedroom Per Sqr Ft Per Zip Code
rental_median_price_4br_per_sqr_ft_name='County_MedianRentalPricePerSqft_4Bedroom.csv'
# Rental Median Price 5 or more Bedrooms Per Sqr Ft per zip code
rental_median_price_5br_or_more_per_sqr_ft_name='County_MedianRentalPricePerSqft_5BedroomOrMore.csv'
# Rental Median Price Per Square Foot Overall Per Zip Code
rental_median_price_overall_per_sqr_ft_name='County_MedianRentalPricePerSqft_AllHomes.csv'
# Rental Median Price Condo or CoopPer Square Foot Per Zip Code
rental_median_price_condo_coop_per_sqr_ft_name='County_MedianRentalPricePerSqft_CondoCoop.csv'
# Rental Median Price Duplex or Triplex Sqr Ft Per Zip Code
rental_median_price_duplex_triplex_per_sqr_ft_name='County_MedianRentalPricePerSqft_DuplexTriplex.csv'
# Rental Median Price Multi-Family Residence with 5+ Familes Per Sqr Ft Per Zip Code
rental_median_price_mfr_with_5plus_per_sqr_ft_name='County_MedianRentalPricePerSqft_Mfr5Plus.csv'
# Rental Median Price SFR Per Sqr Ft Per Zip Code
rental_median_price_sfr_per_sqr_ft_name='County_MedianRentalPricePerSqft_Sfr.csv'
# Rental Median Price Studio Per Sqr Ft Per Zip Code
rental_median_price_studio_per_sqr_ft_name='County_MedianRentalPricePerSqft_Studio.csv'
# Home Median Value Per Sqr Ft Per Zip Code
home_median_value_per_sqr_ft_name='County_MedianValuePerSqft_AllHomes.csv'
# Percent of Homes Decreasing in Value per zip code
home_perc_decrease_in_value_name='County_PctOfHomesDecreasingInValues_AllHomes.csv'
# Percent of Homes Increasing in Value per zip code
home_perc_increase_in_value_name='County_PctOfHomesIncreasingInValues_AllHomes.csv'
# Ratio of Price to Rent Vs Price to Buy Per Zip Code
ratio_price_to_buy_vs_price_to_rent_name='County_PriceToRentRatio_AllHomes.csv'
# Number of home listings per County
home_num_of_listings_name='MonthlyListings_NSA_AllHomes_County.csv'
# Number of Sales per County
home_num_of_sales_name='Sale_Counts_County.csv'

Now load all datasets into memory

In [6]:
crosswalk_count_df = pd.read_csv(os.path.join(raw_data_folder,crosswalk_count_name),encoding = "ISO-8859-1")

mean_income_etc_df = pd.read_excel(os.path.join(raw_data_folder,mean_income_etc_name),encoding = "ISO-8859-1")

home_num_of_listings_df = pd.read_csv(os.path.join(raw_data_folder,
                                                      home_num_of_listings_name),encoding = "ISO-8859-1")
home_num_of_sales_df = pd.read_csv(os.path.join(raw_data_folder,
                                                      home_num_of_sales_name),encoding = "ISO-8859-1")
home_num_of_listings_df = pd.read_csv(os.path.join(raw_data_folder,
                                                      home_num_of_listings_name),encoding = "ISO-8859-1")
rental_median_price_all_homes_df = pd.read_csv(os.path.join(raw_data_folder,
                                                      rental_median_price_all_homes_name),encoding = "ISO-8859-1")
crime_rate_county_data_df = pd.read_csv(os.path.join(raw_data_folder,
                                                     crime_rate_county_data_name))

zip_code_county_state_relationship_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                 zip_code_county_state_relationship_name))

home_median_listing_price_df = pd.read_csv(os.path.join(raw_data_folder,
                                                        home_median_listing_price_name),encoding = "ISO-8859-1")
home_median_listing_price_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                   home_median_listing_price_per_sqr_ft_name),encoding = "ISO-8859-1")
home_median_value_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                           home_median_value_per_sqr_ft_name),encoding = "ISO-8859-1")
home_perc_increase_in_value_df = pd.read_csv(os.path.join(raw_data_folder,
                                                          home_perc_increase_in_value_name),encoding = "ISO-8859-1")
home_perc_decrease_in_value_df = pd.read_csv(os.path.join(raw_data_folder,
                                                          home_perc_decrease_in_value_name),encoding = "ISO-8859-1")
rental_median_price_1br_df = pd.read_csv(os.path.join(raw_data_folder,
                                                      rental_median_price_1br_name),encoding = "ISO-8859-1")
rental_median_price_2br_df = pd.read_csv(os.path.join(raw_data_folder,
                                                      rental_median_price_2br_name),encoding = "ISO-8859-1")
rental_median_price_3br_df = pd.read_csv(os.path.join(raw_data_folder,
                                                      rental_median_price_3br_name),encoding = "ISO-8859-1")
rental_median_price_4br_df = pd.read_csv(os.path.join(raw_data_folder,
                                                      rental_median_price_4br_name),encoding = "ISO-8859-1")
rental_median_price_5br_or_more_df = pd.read_csv(os.path.join(raw_data_folder,
                                                              rental_median_price_5br_or_more_name),encoding = "ISO-8859-1")
rental_median_price_condo_coop_df = pd.read_csv(os.path.join(raw_data_folder,
                                                             rental_median_price_condo_coop_name),encoding = "ISO-8859-1")
rental_median_price_duplex_triplex_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                 rental_median_price_duplex_triplex_name),encoding = "ISO-8859-1")
rental_median_price_mfr_with_5plus_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                 rental_median_price_mfr_with_5plus_name),encoding = "ISO-8859-1")
rental_median_price_sfr_df = pd.read_csv(os.path.join(raw_data_folder,
                                                      rental_median_price_sfr_name),encoding = "ISO-8859-1")
rental_median_price_studio_df = pd.read_csv(os.path.join(raw_data_folder,
                                                         rental_median_price_studio_name),encoding = "ISO-8859-1")
rental_median_price_1br_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                 rental_median_price_1br_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_2br_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                 rental_median_price_2br_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_3br_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                 rental_median_price_3br_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_4br_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                 rental_median_price_4br_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_5br_or_more_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                         rental_median_price_5br_or_more_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_overall_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                     rental_median_price_overall_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_condo_coop_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                        rental_median_price_condo_coop_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_duplex_triplex_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                            rental_median_price_duplex_triplex_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_mfr_with_5plus_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                            rental_median_price_mfr_with_5plus_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_sfr_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                 rental_median_price_sfr_per_sqr_ft_name),encoding = "ISO-8859-1")
rental_median_price_studio_per_sqr_ft_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                    rental_median_price_studio_per_sqr_ft_name),encoding = "ISO-8859-1")
ratio_price_to_buy_vs_price_to_rent_df = pd.read_csv(os.path.join(raw_data_folder,
                                                                  ratio_price_to_buy_vs_price_to_rent_name),encoding = "ISO-8859-1")

We now check the size of each loaded dataframe

In [7]:
print('Note that in the US there are a total of 3,007 counties')
print('\n')

print('The size of mean_income_etc_df is %s' %(mean_income_etc_df.shape,))
print('The size of dataframe home_num_of_listings_df is %s for counties' %(home_num_of_listings_df.shape,))
print('The size of home_num_of_sales_df is %s for counties' %(home_num_of_sales_df.shape,))
print('The size of rental_median_price_all_homes_df is %s for counties' %(rental_median_price_all_homes_df.shape,))
print('The size of home_num_of_listings_df is %s for counties' %(home_num_of_listings_df.shape,))
print('The size of dataframe crime_rate_county_data_df is %s for counties' %(crime_rate_county_data_df.shape,))
print('The size of zip_code_county_state_relationship_df is %s' %(zip_code_county_state_relationship_df.shape,))
print('The size of home_median_listing_price_df is %s' %(home_median_listing_price_df.shape,))
print('The size of home_median_listing_price_per_sqr_ft_df is %s' %(home_median_listing_price_per_sqr_ft_df.shape,))
print('The size of home_median_value_per_sqr_ft_df is %s' %(home_median_value_per_sqr_ft_df.shape,))
print('The size of home_perc_increase_in_value_df is %s' %(home_perc_increase_in_value_df.shape,))
print('The size of home_perc_decrease_in_value_df is %s' %(home_perc_decrease_in_value_df.shape,))
print('The size of rental_median_price_1br_df is %s' %(rental_median_price_1br_df.shape,))
print('The size of rental_median_price_2br_df is %s' %(rental_median_price_2br_df.shape,))
print('The size of rental_median_price_3br_df is %s' %(rental_median_price_3br_df.shape,))
print('The size of rental_median_price_4br_df is %s' %(rental_median_price_4br_df.shape,))
print('The size of rental_median_price_5br_or_more_df is %s' %(rental_median_price_5br_or_more_df.shape,))
print('The size of rental_median_price_condo_coop_df is %s' %(rental_median_price_condo_coop_df.shape,))
print('The size of rental_median_price_duplex_triplex_df is %s' %(rental_median_price_duplex_triplex_df.shape,))
print('The size of rental_median_price_mfr_with_5plus_df is %s' %(rental_median_price_mfr_with_5plus_df.shape,))
print('The size of rental_median_price_sfr_df is %s' %(rental_median_price_sfr_df.shape,))
print('The size of rental_median_price_studio_df is %s' %(rental_median_price_studio_df.shape,))
print('The size of rental_median_price_1br_per_sqr_ft_df is %s' %(rental_median_price_1br_per_sqr_ft_df.shape,))
print('The size of rental_median_price_2br_per_sqr_ft_df is %s' %(rental_median_price_2br_per_sqr_ft_df.shape,))
print('The size of rental_median_price_3br_per_sqr_ft_df is %s' %(rental_median_price_3br_per_sqr_ft_df.shape,))
print('The size of rental_median_price_4br_per_sqr_ft_df is %s' %(rental_median_price_4br_per_sqr_ft_df.shape,))
print('The size of rental_median_price_5br_or_more_per_sqr_ft_df is %s' %(rental_median_price_5br_or_more_per_sqr_ft_df.shape,))
print('The size of rental_median_price_overall_per_sqr_ft_df is %s' %(rental_median_price_overall_per_sqr_ft_df.shape,))
print('The size of rental_median_price_condo_coop_per_sqr_ft_df is %s' %(rental_median_price_condo_coop_per_sqr_ft_df.shape,))
print('The size of rental_median_price_duplex_triplex_per_sqr_ft_df is %s' %(rental_median_price_duplex_triplex_per_sqr_ft_df.shape,))
print('The size of rental_median_price_mfr_with_5plus_per_sqr_ft_df is %s' %(rental_median_price_mfr_with_5plus_per_sqr_ft_df.shape,))
print('The size of rental_median_price_sfr_per_sqr_ft_df is %s' %(rental_median_price_sfr_per_sqr_ft_df.shape,))
print('The size of rental_median_price_studio_per_sqr_ft_df is %s' %(rental_median_price_studio_per_sqr_ft_df.shape,))
print('The size of ratio_price_to_buy_vs_price_to_rent_df is %s' %(ratio_price_to_buy_vs_price_to_rent_df.shape,))

Note that in the US there are a total of 3,007 counties


The size of mean_income_etc_df is (3282, 52)
The size of dataframe home_num_of_listings_df is (1963, 80) for counties
The size of home_num_of_sales_df is (2679, 137) for counties
The size of rental_median_price_all_homes_df is (718, 117) for counties
The size of home_num_of_listings_df is (1963, 80) for counties
The size of dataframe crime_rate_county_data_df is (3136, 24) for counties
The size of zip_code_county_state_relationship_df is (52889, 5)
The size of home_median_listing_price_df is (2237, 117)
The size of home_median_listing_price_per_sqr_ft_df is (2169, 117)
The size of home_median_value_per_sqr_ft_df is (1730, 283)
The size of home_perc_increase_in_value_df is (1270, 273)
The size of home_perc_decrease_in_value_df is (1270, 273)
The size of rental_median_price_1br_df is (388, 116)
The size of rental_median_price_2br_df is (580, 117)
The size of rental_median_price_3br_df is (529, 117)
The size of rental_median_price_4br_df is (248, 116)
The size of rental_median_price_5br_or_more_df is (77, 116)
The size of rental_median_price_condo_coop_df is (222, 116)
The size of rental_median_price_duplex_triplex_df is (331, 116)
The size of rental_median_price_mfr_with_5plus_df is (652, 117)
The size of rental_median_price_sfr_df is (696, 117)
The size of rental_median_price_studio_df is (283, 116)
The size of rental_median_price_1br_per_sqr_ft_df is (354, 116)
The size of rental_median_price_2br_per_sqr_ft_df is (540, 116)
The size of rental_median_price_3br_per_sqr_ft_df is (518, 116)
The size of rental_median_price_4br_per_sqr_ft_df is (242, 116)
The size of rental_median_price_5br_or_more_per_sqr_ft_df is (76, 116)
The size of rental_median_price_overall_per_sqr_ft_df is (686, 117)
The size of rental_median_price_condo_coop_per_sqr_ft_df is (215, 116)
The size of rental_median_price_duplex_triplex_per_sqr_ft_df is (245, 116)
The size of rental_median_price_mfr_with_5plus_per_sqr_ft_df is (585, 116)
The size of rental_median_price_sfr_per_sqr_ft_df is (664, 117)
The size of rental_median_price_studio_per_sqr_ft_df is (242, 116)
The size of ratio_price_to_buy_vs_price_to_rent_df is (1883, 109)

From the above it appears that there is not enough data for rentals to include in this recommendation engine, at least not at the level of complexity I desire.<br>
I will thus now examine only the terms specific to purchasing homes.

In [8]:
print('Note that in the US there are a total of 3,007 counties')
print('\n')

print('The size of mean_income_etc_df is %s' %(mean_income_etc_df.shape,))
print('The size of home_num_of_listings_df is %s for counties' %(home_num_of_listings_df.shape,))
print('The size of home_num_of_sales_df is %s for counties' %(home_num_of_sales_df.shape,))
print('The size of home_num_of_listings_df is %s for counties' %(home_num_of_listings_df.shape,))
print('The size of dataframe crime_rate_county_data_df is %s for counties' %(crime_rate_county_data_df.shape,))
print('The size of zip_code_county_state_relationship_df is %s' %(zip_code_county_state_relationship_df.shape,))
print('The size of home_median_listing_price_df is %s' %(home_median_listing_price_df.shape,))
print('The size of home_median_listing_price_per_sqr_ft_df is %s' %(home_median_listing_price_per_sqr_ft_df.shape,))
print('The size of home_median_value_per_sqr_ft_df is %s' %(home_median_value_per_sqr_ft_df.shape,))
print('The size of home_perc_increase_in_value_df is %s' %(home_perc_increase_in_value_df.shape,))
print('The size of home_perc_decrease_in_value_df is %s' %(home_perc_decrease_in_value_df.shape,))
print('The size of ratio_price_to_buy_vs_price_to_rent_df is %s' %(ratio_price_to_buy_vs_price_to_rent_df.shape,))

Note that in the US there are a total of 3,007 counties


The size of mean_income_etc_df is (3282, 52)
The size of home_num_of_listings_df is (1963, 80) for counties
The size of home_num_of_sales_df is (2679, 137) for counties
The size of home_num_of_listings_df is (1963, 80) for counties
The size of dataframe crime_rate_county_data_df is (3136, 24) for counties
The size of zip_code_county_state_relationship_df is (52889, 5)
The size of home_median_listing_price_df is (2237, 117)
The size of home_median_listing_price_per_sqr_ft_df is (2169, 117)
The size of home_median_value_per_sqr_ft_df is (1730, 283)
The size of home_perc_increase_in_value_df is (1270, 273)
The size of home_perc_decrease_in_value_df is (1270, 273)
The size of ratio_price_to_buy_vs_price_to_rent_df is (1883, 109)

To have a quite comprehensive ability to recommend counties I choose to include those with more than 2000 counties. These are:<br>
mean_income_etc_df<br>
home_num_of_sales_df<br>
crime_rate_county_data_df<br>
home_median_listing_price_df<br>
home_median_listing_price_per_sqr_ft_df<br>
crosswalk_count_df

I now examine these more closely, and ensure that all have their columns labeled correction.

In [9]:
# Get correct column titles for this dataset
rowLabel=7
wb = open_workbook(os.path.join(raw_data_folder,mean_income_etc_name))
count=0
for sheet in wb.sheets():
    if count==0:
        listofLabels = sheet.row_values(rowLabel)
    count+=1
mean_income_etc_df = pd.read_excel(os.path.join(raw_data_folder,
                                              mean_income_etc_name),encoding = "ISO-8859-1",names=listofLabels)

# Due to extra information at top of this file drop first few rows
mean_income_etc_df.drop(mean_income_etc_df.head(8).index, inplace=True)

# Rename column FIPStxt to FIPS
mean_income_etc_df.rename(index=str, columns={"FIPStxt": "FIPS"}, inplace=True)

# Now look at output
mean_income_etc_df.head()

,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,Civilian_labor_force_2008,Employed_2008,Unemployed_2008,Unemployment_rate_2008,Civilian_labor_force_2009,Employed_2009,Unemployed_2009,Unemployment_rate_2009,Civilian_labor_force_2010,Employed_2010,Unemployed_2010,Unemployment_rate_2010,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Civilian_labor_force_2012,Employed_2012,Unemployed_2012,Unemployment_rate_2012,Civilian_labor_force_2013,Employed_2013,Unemployed_2013,Unemployment_rate_2013,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Median_Household_Income_2017,Med_HH_Income_Percent_of_State_Total_2017
8,1000,AL,Alabama,NaN,NaN,NaN,2175612,2089127,86485,4,2176489,2053477,123012,5.7,2162999,1924747,238252,11,2196042,1964559,231483,10.5,2202670,1990413,212257,9.6,2176337,2003290,173047,8,2174000,2017043,156957,7.2,2161618,2015087,146531,6.8,2157376,2025949,131427,6.1,2173175,2045624,127551,5.9,2168444,2073106,95338,4.4,48193,100
9,1001,AL,"Autauga County, AL",2,2,1,24383,23577,806,3.3,24687,23420,1267,5.1,24703,22301,2402,9.7,25713,23431,2282,8.9,25836,23677,2159,8.4,25740,23961,1779,6.9,25810,24205,1605,6.2,25602,24107,1495,5.8,25602,24272,1330,5.2,25918,24593,1325,5.1,25909,24908,1001,3.9,58343,121.1
10,1003,AL,"Baldwin County, AL",3,2,1,82659,80099,2560,3.1,83223,79372,3851,4.6,82451,74403,8048,9.8,83459,75120,8339,10,85045,77418,7627,9,84414,78065,6349,7.5,85280,79626,5654,6.6,86415,81115,5300,6.1,87705,82843,4862,5.5,90500,85656,4844,5.4,91567,87915,3652,4,56607,117.5
11,1005,AL,"Barbour County, AL",6,6,0,10334,9684,650,6.3,10161,9267,894,8.8,10003,8572,1431,14.3,10221,8959,1262,12.3,9849,8712,1137,11.5,9362,8283,1079,11.5,9099,8168,931,10.2,8848,7916,932,10.5,8609,7844,765,8.9,8402,7700,702,8.4,8236,7750,486,5.9,32490,67.4
12,1007,AL,"Bibb County, AL",1,1,1,8791,8432,359,4.1,8749,8241,508,5.8,8742,7581,1161,13.3,8934,7914,1020,11.4,8933,7996,937,10.5,8798,8047,751,8.5,8705,8016,689,7.9,8562,7945,617,7.2,8572,8005,567,6.6,8607,8050,557,6.5,8506,8133,373,4.4,45795,95

In [10]:
# Add column for FIPS to home_num_of_sales_df
# First we change column name in home_num_of_sales_df to match that in crosswalk_count_df
# We thus change RegionID to CountyRegionID_Zillow, as this is what we will merge on
home_num_of_sales_df.rename(index=str, columns={"RegionID": "CountyRegionID_Zillow"}, inplace=True)

# Now merge the FIPS column from crosswalk_count_df into home_num_of_sales_df by matching CountyRegionID_Zillow
home_num_of_sales_df = pd.merge(home_num_of_sales_df,
                 crosswalk_count_df[['CountyRegionID_Zillow', 'FIPS']],
                 on='CountyRegionID_Zillow')

home_num_of_sales_df.describe()

,CountyRegionID_Zillow,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,2008-12,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,2009-09,2009-10,2009-11,2009-12,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10,2011-11,2011-12,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,2014-11,2014-12,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,FIPS
count,2679.000000,2679.00000,2261.000000,2261.000000,2261.000000,2262.000000,2264.000000,2266.000000,2270.000000,2273.000000,2273.000000,2274.000000,2275.000000,2275.000000,2275.000000,2276.000000,2277.000000,2280.000000,2282.000000,2283.000000,2288.000000,2288.000000,2288.000000,2288.000000,2288.000000,2288.000000,2290.000000,2291.000000,2296.000000,2306.000000,2307.000000,2310.000000,2323.000000,2323.000000,2323.000000,2324.000000,2325.000000,2325.000000,2328.000000,2328.000000,2330.000000,2332.000000,2335.000000,2336.000000,2338.000000,2340.000000,2342.000000,2342.000000,2344.000000,2347.000000,2348.000000,2350.000000,2350.000000,2359.000000,2363.000000,2370.000000,2371.000000,2372.000000,2374.000000,2378.000000,2382.000000,2385.000000,2390.000000,2392.000000,2393.000000,2396.000000,2398.000000,2399.000000,2404.000000,2406.000000,2409.000000,2413.000000,2415.000000,2416.000000,2418.000000,2422.000000,2423.000000,2425.000000,2430.000000,2434.000000,2437.000000,2439.000000,2443.000000,2448.000000,2457.000000,2460.000000,2468.000000,2470.000000,2472.000000,2492.000000,2496.000000,2499.000000,2515.000000,2520.000000,2532.000000,2534.000000,2539.000000,2543.000000,2558.000000,2569.000000,2570.000000,2578.000000,2580.000000,2587.000000,2592.000000,2597.000000,2602.000000,2604.000000,2606.000000,2614.000000,2622.000000,2626.000000,2626.000000,2658.000000,2660.000000,2664.000000,2665.000000,2668.000000,2670.000000,2672.000000,2676.000000,2679.000000,2679.000000,2679.000000,2645.000000,2639.000000,2636.000000,2628.000000,2492.000000,2397.000000,2310.000000,2241.000000,2155.000000,2036.000000,740.000000,2679.000000
mean,2206.378126,1340.00000,74.817337,83.755860,88.395400,93.351901,97.206714,89.592674,86.480617,86.145183,62.675759,72.543096,57.990769,59.252308,76.735824,79.357645,82.754941,97.885526,102.395706,92.599212,92.163899,94.728147,87.270979,90.260490,63.725524,63.927010,90.697817,95.130947,97.857578,110.005204,87.027308,83.451082,81.446406,76.830822,73.024107,83.009036,68.166022,65.301935,89.662801,86.530069,91.891416,101.760720,91.048822,100.368151,88.474765,82.607265,79.602904,84.890265,72.135239,75.179804,93.249148,94.057447,107.393191,111.104281,106.842996,112.179325,90.846478,103.122260,92.053075,96.776283,85.531486,81.149686,101.453138,114.492893,125.777267,124.855175,134.194329,131.879116,112.519967,116.324190,97.754255,103.219644,86.263354,82.604305,102.540529,116.037985,126.216261,135.182268,137.657202,128.737880,123.263439,126.719557,99.843226,119.018791,89.343915,90.643496,123.059157,131.548178,135.760922,162.519262,162.039263,148.359744,143.974155,137.041667,109.748815,130.724941,100.019693,104.584742,135.454261,141.331647,157.585214,179.358805,157.217442,169.906455,151.911265,141.014247,134.020753,139.745392,113.103223,107.030987,149.578185,142.187357,174.023610,190.180963,166.515038,182.254505,152.398124,155.591079,141.059925,139.705090,117.829970,110.982456,145.420306,155.266891,179.556144,188.526336,180.750379,186.429224,150.823435,170.856487,152.955844,146.009817,125.141995,128.401277,204.341892,30315.125793
std,19064.271040,773.50501,264.030148,301.067951,316.944784,334.749990,358.095956,331.231822,328.128332,336.424931,245.878380,298.514595,248.470798,251.940121,328.354897,344.735103,349.299610,407.237909,413.876053,362.118431,364.293614,380.008361,338.655280,370.661643,276.775895,271.786508,373.855925,381.841952,384.995241,419.247807,352.408464,330.248262,315.913133,300.315800,285.279147,339.411874,285.716641,277.181793,382.351227,364.131389,370.217738,405.056829,353.841343,390.923024,342.973727,317.982550,312.267844,336.697527,310.511333,326.151520,395.749016,386.777574,426.364155,439.418664,410.290086,438.736066,349.021410,389.253658,355.937852,378.836842,338.746865,329.525088,405.000810,440.191367,471.018561,453.354039,485.260617,466.626674,398.035743,421.122332,351.925996,372.071048,324.732401,316.772666,379.501048,431.504327,443.568738,460.664738,456.487087,435.956344,424.078825,432.320419,340.046022,418.606264,319.458969,329.609088,434.216697,465.412378,471.320841,544.666738,540.240127,497.043578,478.896485,455.518111,392.699778,438.050690,340.814651,354.054479,456.805319,472.388093,506.759004,567.467546,506.963209,536.365413,476.604166,444.236530,428.540031,446.402803,372.319581,356.965229,492.608926,458.238767,550.259654,583.013681,506.290997,549.706671,459.298904,466.545033,426.934147,424.956831,374.397174,363.166800,473.622112,488.488286,541.010950,565.580520,539.610153,536.877441,421.827240,462.997925,415.866728,408.513492,352.279060,369.174182,655.803843,15122.646825
min,66.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1003.000000
25%,886.000000,670.50000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.750000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.250000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,5.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,5.000000,5.000000,6.000000,5.000000,6.000000,6.000000,8.000000,8.000000,8.000000,7.000000,8.000000,4.000000,18165.000000
50%,1692.000000,1340.00000,9.000000,10.000000,10.000000,10.000000,11.000000,10.000000,10.000000,10.000000,7.000000,8.000000,5.000000,6.000000,7.000000,7.000000,8.000000,9.000000,10.000000,9.000000,9.000000,9.000000,9.000000,8.000000,6.000000,6.000000,9.000000,10.000000,10.000000,11.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000,7.000000,7.000000,9.000000,9.000000,10.000000,11.000000,9.000000,11.000000,9.000000,9.000000,9.000000,9.000000,8.000000,8.000000,10.000000,10.000000,11.000000,12.000000,12.000000,13.000000,11.000000,12.000000,11.000000,12.000000,10.000000,10.000000,12.000000,13.000000,14.000000,14.000000,15.000000,16.000000,14.000000,14.000000,12.000000,12.000000,11.000000,10.000000,12.000000,14.000000,16.000000,16.000000,17.000000,16.000000,15.000000,16.000000,11.000000,13.000000,11.000000,10.000000,14.500000,15.000000,16.000000,19.000000,19.000000,19.000000,19.000000,19.000000,14.000000,17.000000,14.000000,14.000000,19.000000,19.000000,21.000000,25.000000,22.000000,25.000000,23.000000,22.000000,20.000000,21.000000,17.000000,16.000000,23.000000,21.000000,26.000000,29.000000,25.000000,29.000000,25.000000,26.000000,24.000000,23.000000,18.000000,17.000000,23.000000,25.000000,30.000000,30.000000,29.000000,32.000000,29.000000,35.000000,31.000000,29.000000,23.000000,25.000000,17.000000,29209.000000
75%,2497.500000,2009.50000,34.000000,38.000000,41.000000,42.000000,43.000000,42.000000,39.000000,38.000000,28.000000,30.000000,22.000000,24.000000,30.000000,31.000000,33.000000,38.000000,41.000000,39.000000,39.000000,39.000000,36.000000,36.000000,24.000000,26.000000,36.000000,41.000000,42.000000,47.000000,37.500000,38.000000,39.000000,35.000000,33.000000,36.000000,29.000000,27.000000,36.000000,35.000000,39.000000,42.250000,39.000000,44.250000,40.000000,40.000000,37.000000,38.000000,31.000000,32.000000,41.000000,43.000000,49.000000,50.000000,50.000000,54.000000,45.000000,51.250000,47.000000,48.000000,41.000000,39.000000,48.750000,54.250000,60.000000,59.000000,65.000000,67.500000,57.000000,59.000000,51.000000,51.000000,42.000000,41.000000,51.000000,57.000000,61.000000,66.000000,69.000000,67.000000,65.000000,70.000000,53.000000,61.000000,45.000000,46.000000,62.250000,67.000000,71.000000,85.250000,88.000000,81.500000,82.500000,81.000000,62.000000,73.000000,55.000000,60.000000,76.750000,81.000000,92.750000,104.000000,92.250000,105.500000,95.000000,91.000000,85.000000,87.000000,71.000000,67.000000,89.750000,87.500000,110.000000,126.750000,109.250000,123.000000,104.000000,108.000000,95.000000,93.000000,76.000000,70.000000,90.000000,99.000000,118.000000,125.000000,118.000000,128.000000,111.000000,129.000000,118.750000,111.000000,90.000000,95.250000,110.250000,45084.000000
max,698720.000000,2679.00000,5045.000000,5493.000000,5603.000000,6069.000000,6693.000000,6236.000000,5903.000000,6490.000000,4854.000000,6051.000000,4786.000000,5438.000000,7474.000000,8074.000000,8315.000000,9482.000000,9265.000000,7605.000000,7657.000000,7915.000000,7023.000000,7695.000000,5871.000000,6383.000000,8795.000000,8829.000000,8502.000000,9026.000000,7131.000000,7056.000000,7138.000000,6904.000000,6525.000000,7917.000000,6785.000000,7052.000000,9918.000000,9623.000000,9566.000000,10005.000000,8443.000000,9024.000000,7770.000000,7318.000000,7108.000000,7658.000000,8568.000000,9571.000000,11168.000000,10703.000000,11250.000000,11201.000000,10624.000000,11178.000000,9320.000000,10102.000000,9561.000000,9807.000000,9116.000000,9421.000000,11531.000000,11846.000000,12582.000000,11455.000000,11442.000000,10853.000000,9489.000000,9473.000000,8186.000000,8318.000000,7700.000000,8551.000000,9836.000000,10179.000000,10474.000000,10627.000000,9756.000000,10388.000000,9069.000000,9004.000000,7519.000000,8839.000000,7398.000000,8142.000000,10315.000000,10705.000000,10855.000000,11718.000000,11190.000000,10084.000000,9747.000000,9234.000000,8292.000000,9073.000000,7514.000000,8231.000000,10763.000000,10823.000000,10907.000000,11308.000000,10418.000000,11004.000000,9697.000000,9464.000000,9133.000000,9278.000000,8321.000000,8668.000000,11483.000000,10502.000000,12032.000000,12090.000000,10356.000000,10873.000000,9814.000000,10056.000000,9185.000000,9384.000000,8618.000000,9446.000000,11658.000000,11635.000000,12104.000000,11935.000000,11491.000000,11094.000000,9202.000000,9931.000000,9268.000000,9097.000000,8230.000000,9161.000000,11156.000000,56045.000000

In [11]:
# Add column for FIPS to crime_rate_county_data
# To get this we combine the FIPS for the state and the individual FIPS for the County

crime_rate_county_data_df['FIPS'] = crime_rate_county_data_df.FIPS_ST*1000 + crime_rate_county_data_df.FIPS_CTY

crime_rate_county_data_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,COVIND,INDEX,MODINDX,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,FIPS
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,100.0,5706,22329,119,200,1778,3609,4995,13791,3543,464,318416,29,510,29510
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,100.0,873,3424,8,38,165,662,1482,1753,189,28,49746,5,35,5035
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,100.0,127,278,1,2,5,119,82,184,12,2,7629,17,3,17003
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,100.0,6,13,0,3,1,2,5,4,4,0,412,48,261,48261
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,100.0,392,703,3,4,17,368,149,494,60,0,27083,22,31,22031

In [12]:
# Add column for FIPS to home_median_listing_price_df
# To get this we combine the FIPS for the state and the individual FIPS for the County

home_median_listing_price_df['FIPS'] = home_median_listing_price_df.StateCodeFIPS*1000 + home_median_listing_price_df.MunicipalCodeFIPS

home_median_listing_price_df.head()

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10,2011-11,2011-12,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,2014-11,2014-12,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,FIPS
0,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,399000.0,389000.0,398884.0,398500.0,399000.0,398000.0,395000.0,399000.0,385000.0,375000.0,370000.0,359000.0,350000.0,350000.0,350000.0,350000.0,350000.0,359000.0,358000.0,350000.0,349900.0,345900.0,339000.0,330000.0,329990.0,330000.0,338000.0,340000.0,349000.0,359900.0,369000.0,369900.0,374900.0,374999.0,379000.0,379900.0,389000.0,399000.0,425000.0,449900.0,465000.0,479000.0,489000.0,485000.0,488000.0,479000.0,474900.0,468225.0,459997.0,469250.0,475000.0,492250.0,499900.0,500000.0,514900.0,509125.0,515000.0,499999.0,509000.0,499000.0,490000.0,499000.0,519000.0,539000.0,564900.0,569000.0,569950.0,570000.0,570000.0,570000.0,565000.0,565000.0,565000.0,579000.0,589000.0,599000.0,599000.0,605000.0,599999.0,599000.0,599000.0,599995.0,599999.0,599000.0,599900.0,599900.0,615000.0,628900.0,639000.0,639000.0,639000.0,635000.0,630000.0,630000.0,629900.0,625000.0,629000.0,640000.0,649000.0,659844.0,665000.0,675000.0,658800.0,659000.0,660000.0,662050.0,659000.0,649999.0,649900.0,650000.0,665000.0,6037
1,Cook County,IL,Chicago-Naperville-Elgin,17,31,2,244900.0,249000.0,249000.0,249000.0,245000.0,245000.0,239000.0,237900.0,225000.0,229328.0,225000.0,214900.0,202207.0,201592.0,208000.0,210000.0,214900.0,210000.0,205000.0,199900.0,199000.0,191138.5,185000.0,179900.0,178000.0,179000.0,179900.0,184900.0,184900.0,181250.0,176900.0,175000.0,171500.0,169900.0,169900.0,165000.0,167500.0,175000.0,180000.0,190000.0,199900.0,207500.0,200000.0,199900.0,205000.0,199900.0,199000.0,189900.0,185000.0,199000.0,216000.0,225000.0,234900.0,238500.0,237500.0,232000.0,229705.5,224900.0,219900.0,214872.0,200000.0,215000.0,229500.0,233500.0,239900.0,239900.0,239000.0,235500.0,231900.0,229998.0,229000.0,224900.0,224900.0,235000.0,249000.0,255000.0,259900.0,259900.0,254500.0,249900.0,249900.0,249900.0,245000.0,238284.5,239000.0,250000.0,264900.0,269900.0,274900.0,277000.0,275000.0,269900.0,269900.0,269000.0,262000.0,254900.0,259000.0,274500.0,280000.0,289900.0,294900.0,294900.0,289900.0,288828.5,289000.0,285000.0,280000.0,278000.0,280000.0,289900.0,299000.0,17031
2,Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,149900.0,152900.0,154755.0,154900.0,155000.0,155000.0,151000.0,150000.0,155000.0,154900.0,155000.0,153000.0,150000.0,150000.0,153990.0,153964.0,155000.0,155000.0,154900.0,153500.0,149900.0,150000.0,149900.0,149900.0,149900.0,149900.0,151900.0,154000.0,156500.0,158900.0,157900.0,158975.0,158000.0,155750.0,159900.0,161990.0,161900.0,169900.0,174280.5,177000.0,179500.0,179950.0,179990.0,181925.0,184900.0,189900.0,187046.5,188000.0,189950.0,199900.0,204990.0,214710.5,218997.5,217990.0,219000.0,223367.0,225000.0,227542.0,235000.0,243496.5,254990.0,259990.0,266856.0,274997.0,265000.0,255000.0,269900.0,270000.0,274900.0,277893.0,276990.0,283190.0,285000.0,274000.0,279900.0,279900.0,278000.0,279781.0,275000.0,275000.0,270795.0,269900.0,269000.0,269000.0,269000.0,269900.0,272000.0,275000.0,277995.0,275000.0,270000.0,270000.0,275000.0,275000.0,275000.0,279000.0,279990.0,283421.5,285000.0,285000.0,285000.0,284900.0,279950.0,278000.0,279500.0,279000.0,279000.0,275990.0,277019.0,279000.0,279900.0,48201
3,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,179900.0,175900.0,174900.0,169900.0,165000.0,159900.0,154999.0,152900.0,149999.0,149500.0,149000.0,144900.0,142900.0,140000.0,139999.0,139900.0,140000.0,142760.0,142000.0,145000.0,145000.0,149900.0,150000.0,152000.0,159900.0,164900.0,171500.0,179900.0,180945.0,185000.0,185000.0,189000.0,189900.0,195000.0,199900.0,201990.0,209450.0,217400.0,224900.0,229900.0,237500.0,239500.0,239900.0,235000.0,235000.0,237000.0,238970.0,239725.0,239999.0,241990.0,249000.0,249900.0,252500.0,255000.0,250000.0,250000.0,253986.5,255000.0,255000.0,257500.0,259500.0,260000.0,268997.5,275000.0,279000.0,278000.0,270000.0,278990.0,279000.0,279900.0,283900.0,284000.0,285000.0,287000.0,289000.0,289900.0,290100.0,294900.0,289990.0,289000.0,289000.0,289000.0,289000.0,289500.0,289900.0,294990.0,297000.0,299900.0,299999.0,299900.0,299900.0,297900.0,299000.0,299900.0,299900.0,299900.0,304900.0,309900.0,310000.0,314900.0,314999.0,310400.0,309500.0,308000.0,305866.5,309900.0,308000.0,307900.0,309990.0,310000.0,314900.0,4013
4,San Diego County,CA,San Diego-Carlsbad,6,73,5,399000.0,399000.0,399500.0,399998.0,400000.0,399900.0,399900.0,401800.0,399000.0,389900.0,385000.0,374900.0,365000.0,357800.0,355000.0,365000.0,370000.0,374000.0,369900.0,359000.0,349900.0,349000.0,349000.0,349000.0,349000.0,344900.0,349000.0,349900.0,363500.0,370025.0,375000.0,376495.0,375000.0,379900.0,379000.0,380000.0,389882.0,399000.0,419900.0,430000.0,449000.0,450000.0,460000.0,460000.0,459900.0,455500.0,450000.0,455000.0,460000.0,469900.0,479000.0,490000.0,464900.0,489000.0,499000.0,499000.0,495000.0,489900.0,499000.0,489000.0,489000.0,495000.0,525000.0,539000.0,550000.0,529000.0,560000.0,560000.0,565000.0,569000.0,569950.0,579900.0,575000.0,575000.0,575000.0,579999.0,585000.0,589000.0,590000.0,585000.0,584000.0,580000.0,575000.0,575000.0,578000.0,579900.0,585000.0,598000.0,599888.0,599000.0,599000.0,599000.0,598000.0,595000.0,595000.0,590000.0,594000.0,599000.0,609000.0,619000.0,650000.0,650000.0,649499.0,649000.0,649000.0,637500.0,635000.0,635000.0,635000.0,639000.0,642700.0,6073

In [13]:
# Add column for FIPS to home_median_listing_price_per_sqr_ft_df
# To get this we combine the FIPS for the state and the individual FIPS for the County

home_median_listing_price_per_sqr_ft_df['FIPS'] = home_median_listing_price_per_sqr_ft_df.StateCodeFIPS*1000 + home_median_listing_price_per_sqr_ft_df.MunicipalCodeFIPS


home_median_listing_price_per_sqr_ft_df.head()

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10,2011-11,2011-12,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,2014-11,2014-12,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,FIPS
0,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,268.371967,262.954370,268.907563,269.084463,268.665088,266.418373,264.413452,264.021164,259.987318,256.872852,254.563400,248.062016,245.246197,245.811686,246.142425,244.545455,245.565265,246.387756,245.702195,243.978843,240.429072,237.171464,233.605341,230.120482,229.062500,229.301841,231.384031,232.950536,236.051502,242.323232,245.074483,246.153846,247.552448,248.322148,250.459701,251.435889,257.434095,262.379800,274.725275,288.625904,296.757295,304.424238,309.655938,310.606061,311.608052,310.312498,310.077003,308.246864,308.290329,311.303961,313.787251,320.915926,326.771654,330.297616,332.935561,332.296704,332.863596,332.418959,333.222129,327.627199,324.362247,332.278481,337.278107,345.061728,353.555780,354.521393,356.344879,358.559950,358.887381,361.407920,359.517536,359.712230,361.858871,368.992012,373.956668,378.067752,380.655558,385.434517,387.423033,386.839192,387.323944,387.618644,386.922977,384.456671,387.222161,389.637024,397.968289,404.218928,407.887579,407.608152,407.058824,407.001912,407.061069,409.090909,410.783055,409.273039,410.165434,417.273647,420.375026,424.526056,426.737968,429.561782,429.442121,428.814267,429.317269,431.972789,431.929889,427.732221,427.484546,429.719262,433.510638,6037
1,Cook County,IL,Chicago-Naperville-Elgin,17,31,2,188.315879,190.000000,190.219046,189.749431,188.443939,187.385417,182.086093,179.933333,173.214286,174.488769,171.505814,164.000000,159.920000,157.947705,157.968313,157.596844,158.112298,157.593525,154.763894,151.768325,150.270270,146.861992,142.135174,138.252149,137.152209,137.455646,137.775735,139.146568,138.800631,138.750000,133.960573,132.058414,130.000000,127.818604,127.722222,125.071388,124.179789,127.613376,132.231405,136.842105,140.909091,143.499775,142.294221,141.025641,142.472902,140.345561,137.857900,133.736559,131.810269,138.498595,146.259967,151.799962,156.843940,158.838635,158.915305,157.700535,156.018051,153.807354,150.759986,147.149339,143.146390,147.010842,155.251479,157.855991,162.611843,164.526749,163.758030,162.267046,161.747685,161.176105,158.650794,154.761905,154.038072,160.000000,167.983193,172.865412,176.073819,176.795580,174.128534,170.995334,170.533935,169.703872,167.244508,163.127849,162.994540,170.068816,176.401384,180.474041,183.284184,184.540840,183.250000,180.906684,180.288462,179.687500,177.680206,174.043047,174.325335,181.761584,190.567951,195.783133,196.882969,197.297297,196.684028,195.795548,195.554144,194.563125,193.243804,191.200000,192.737789,197.777359,202.246067,17031
2,Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,75.431444,76.256732,76.477404,76.729628,76.628352,76.190476,75.010287,74.842271,75.539157,74.980041,75.354043,74.503311,73.957675,73.935773,74.147217,73.842532,74.248120,74.341856,73.844732,73.586367,72.640081,73.125754,72.687933,72.939823,72.969543,72.985434,73.891284,74.741323,75.273723,75.675901,75.429413,75.418554,75.493274,75.000000,75.557760,76.224766,76.578518,78.828829,79.941013,80.915548,81.664888,82.435345,82.638889,83.167500,83.780161,85.513471,85.141192,85.583581,86.622769,89.204060,90.544306,92.328469,93.220821,93.283582,93.856609,95.086548,96.326165,97.024678,98.811587,100.877193,103.715170,105.004468,105.801744,108.002336,105.738023,103.820919,106.335681,106.848550,107.812729,109.258475,109.016293,110.773866,111.848825,109.550562,110.780669,110.918480,110.956905,111.174306,110.500461,110.909091,110.641562,110.673881,110.762562,111.278736,111.988934,112.806668,112.990893,113.667426,113.597078,113.228155,112.495673,112.790468,113.799143,114.245986,114.761092,115.669881,116.309282,116.987963,118.289195,118.594511,118.681694,118.356336,117.647059,117.464546,118.205882,118.408176,118.714903,118.981481,119.809814,120.284872,120.833333,48201
3,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,99.870922,98.231827,97.268514,95.891664,93.750000,92.388570,90.013055,88.264751,87.073348,85.447263,83.993506,82.125125,80.786026,80.451351,80.082060,78.775939,79.094883,78.884602,78.852293,80.037665,80.545652,82.116788,83.106729,83.239144,85.545207,87.525611,90.534979,94.422871,96.439570,98.039216,99.009901,100.389571,101.916035,104.145078,106.503154,107.820483,109.982459,112.450312,114.969256,117.626404,120.030008,121.121972,121.634324,121.019809,121.819166,123.162218,123.379553,123.556319,125.178998,126.180824,126.713460,127.578125,127.170659,127.101948,126.400000,126.315981,126.702997,128.046221,128.685073,129.328404,130.994152,131.814334,133.301250,135.093785,135.569853,135.342790,133.442673,134.979163,136.109684,137.807517,139.343831,140.148073,141.331845,143.908212,144.204852,145.023072,146.005510,145.678265,144.804089,144.694387,145.422608,146.296296,147.070455,147.443461,149.195111,150.620567,151.010384,152.119701,152.194059,151.778219,150.970328,151.729805,153.294194,155.031295,155.827765,156.959580,158.427085,159.810044,160.760234,162.400000,162.729757,162.378168,162.180216,162.360335,163.123562,164.132861,164.603960,164.970510,166.455194,167.219458,167.718121,4013
4,San Diego County,CA,San Diego-Carlsbad,6,73,5,246.696194,249.537037,250.947115,251.268896,250.790306,247.723424,246.471774,246.057707,240.806434,236.430422,234.514724,230.457227,227.736649,226.136364,224.004425,224.929241,226.340128,225.252034,223.752151,217.819469,213.641686,211.391019,210.282575,209.179688,208.115942,207.558140,208.791209,209.919638,214.285714,216.659282,219.512195,220.855745,218.766473,221.203302,221.710183,224.306688,228.790880,237.159930,245.556694,253.890254,262.408043,272.727273,277.161350,278.175056,280.082988,277.392510,274.074074,274.442539,277.913810,282.399347,287.020324,290.632506,295.000000,296.626984,296.276490,296.666667,295.262267,292.924037,292.968750,290.401083,290.927100,294.762623,299.829642,302.995074,308.753841,303.442029,315.440480,316.374505,317.820322,316.153029,316.328963,318.115491,319.483673,322.164948,325.280899,326.660601,328.291815,329.649645,332.080201,331.179081,331.564489,331.922612,330.107848,330.998081,334.046119,334.977800,339.100346,342.548077,346.233820,346.456693,347.394541,347.826087,348.158472,348.741794,348.777877,349.566077,353.219138,356.937063,360.355649,362.473348,375.000000,377.230360,375.953390,377.498150,377.111241,372.385328,371.808272,372.110365,373.371336,375.218150,377.948437,6073

We will save each of these dataframes separately, and also create the dataframe which will be used for the KNN recommendation for counties.<br>
First save these dataframes.

In [14]:
# All of these now have corresponding FIPS column in them so they can easily be compared and combined
mean_income_etc_df.to_csv(os.path.join(processed_data_folder,'mean_income_etc_df.csv'))
home_num_of_sales_df.to_csv(os.path.join(processed_data_folder,'home_num_of_sales_df.csv'))
crime_rate_county_data_df.to_csv(os.path.join(processed_data_folder,'crime_rate_county_data_df.csv'))
home_median_listing_price_df.to_csv(os.path.join(processed_data_folder,'home_median_listing_price_df.csv'))
home_median_listing_price_per_sqr_ft_df.to_csv(os.path.join(processed_data_folder,'home_median_listing_price_per_sqr_ft_df.csv'))
crosswalk_count_df.to_csv(os.path.join(processed_data_folder,'crosswalk_count_df.csv'))

Now that these are saved we will create the dataframe for calculating the optimum county to purchase a home in<br>
To simplify this, if data for more than one year is provided we will input only the average over that year into the new dataframe, or if more than one year old then the most recent data available

In [15]:
# This will hold our data
county_attr_df = pd.DataFrame()

In [16]:
# First look at incorporating mean_income_etc_df
# From this we want the Median_Household_Income_2017, Unemployment_rate_2017, and Rural_urban_continuum_code_2013

county_attr_df['FIPS'] = mean_income_etc_df['FIPS'].values
county_attr_df['Mean Income'] = mean_income_etc_df['Median_Household_Income_2017'].values
county_attr_df['Unemployment Rate'] = mean_income_etc_df['Unemployment_rate_2017'].values
county_attr_df['Rural-Urban Continuum Code'] = mean_income_etc_df['Rural_urban_continuum_code_2013'].values

county_attr_df.head()

   FIPS Mean Income Unemployment Rate Rural-Urban Continuum Code
0  1000       48193               4.4                        NaN
1  1001       58343               3.9                          2
2  1003       56607                 4                          3
3  1005       32490               5.9                          6
4  1007       45795               4.4                          1

In [17]:
# Here we incorporate data from crosswalk_count_df
# We want to include the information about corresponding Counties to FIPS

# Now incorporate this in our country_attr_df dataframe
# We use an outer merge as we want to include any FIPS counties which were missing in previous dataframe
# These will likely be imputed in the future
county_attr_df = pd.merge(county_attr_df,crosswalk_count_df[['FIPS','CountyName']],how='outer',on='FIPS')

county_attr_df.head()

     FIPS Mean Income Unemployment Rate Rural-Urban Continuum Code CountyName
0  1000.0       48193               4.4                        NaN        NaN
1  1001.0       58343               3.9                          2    Autauga
2  1003.0       56607                 4                          3    Baldwin
3  1005.0       32490               5.9                          6    Barbour
4  1007.0       45795               4.4                          1       Bibb

In [18]:
# Now incorporate the data from home_num_of_sales_df
# From here we want the average over the last 12 months of data

# First create new dataframe with only last 12 (ignoring FIPS in last column) columns
home_num_of_sales_avg_df = pd.DataFrame()
home_num_of_sales_avg_df['FIPS'] = home_num_of_sales_df['FIPS']
home_num_of_sales_avg_df['Avg Num Of Sales'] = home_num_of_sales_df.iloc[:, -13:-1].copy(deep=True).mean(axis=1)

# Now incorporate this in our country_attr_df dataframe
# We use an outer merge as we want to include any FIPS counties which were missing in previous dataframe
# These will likely be imputed in the future
county_attr_df = pd.merge(county_attr_df,home_num_of_sales_avg_df,how='outer',on='FIPS')

county_attr_df.head()

,FIPS,Mean Income,Unemployment Rate,Rural-Urban Continuum Code,CountyName,Avg Num Of Sales
0,1000.0,48193,4.4,NaN,NaN,NaN
1,1001.0,58343,3.9,2,Autauga,NaN
2,1003.0,56607,4,3,Baldwin,458.500000
3,1005.0,32490,5.9,6,Barbour,NaN
4,1007.0,45795,4.4,1,Bibb,4.666667

In [19]:
# Now incorporate data from crime_rate_county_data_df
# From here we want crime_rate_per_100000

# Now incorporate this in our country_attr_df dataframe
# We use an outer merge as we want to include any FIPS counties which were missing in previous dataframe
# These will likely be imputed in the future
county_attr_df = pd.merge(county_attr_df,crime_rate_county_data_df[['crime_rate_per_100000','FIPS']],how='outer',on='FIPS')

county_attr_df.head()

,FIPS,Mean Income,Unemployment Rate,Rural-Urban Continuum Code,CountyName,Avg Num Of Sales,crime_rate_per_100000
0,1000.0,48193,4.4,NaN,NaN,NaN,NaN
1,1001.0,58343,3.9,2,Autauga,NaN,251.601926
2,1003.0,56607,4,3,Baldwin,458.500000,228.086325
3,1005.0,32490,5.9,6,Barbour,NaN,177.278771
4,1007.0,45795,4.4,1,Bibb,4.666667,217.661692

In [20]:
# Now incorporate data from home_median_listing_price_df
# From here we want the average over the last 12 months of data

# First create new dataframe with only last 12 (ignoring FIPS in last column) columns
home_median_listing_price_avg_df = pd.DataFrame()
home_median_listing_price_avg_df['FIPS'] = home_median_listing_price_df['FIPS']
home_median_listing_price_avg_df['Avg Listing Price'] = home_median_listing_price_df.iloc[:, -13:-1].copy(deep=True).mean(axis=1)

# Now incorporate this in our country_attr_df dataframe
# We use an outer merge as we want to include any FIPS counties which were missing in previous dataframe
# These will likely be imputed in the future
county_attr_df = pd.merge(county_attr_df,home_median_listing_price_avg_df,how='outer',on='FIPS')

county_attr_df.head()

,FIPS,Mean Income,Unemployment Rate,Rural-Urban Continuum Code,CountyName,Avg Num Of Sales,crime_rate_per_100000,Avg Listing Price
0,1000.0,48193,4.4,NaN,NaN,NaN,NaN,NaN
1,1001.0,58343,3.9,2,Autauga,NaN,251.601926,200641.125000
2,1003.0,56607,4,3,Baldwin,458.500000,228.086325,306246.250000
3,1005.0,32490,5.9,6,Barbour,NaN,177.278771,163670.833333
4,1007.0,45795,4.4,1,Bibb,4.666667,217.661692,144979.083333

In [21]:
# Now incorporate data from home_median_listing_price_per_sqr_ft_df
# From here we want the average over the last 12 months of data

# First create new dataframe with only last 12 (ignoring FIPS in last column) columns
home_median_listing_price_per_sqr_ft_avg_df = pd.DataFrame()
home_median_listing_price_per_sqr_ft_avg_df['FIPS'] = home_median_listing_price_per_sqr_ft_df['FIPS']
home_median_listing_price_per_sqr_ft_avg_df['Avg Listing Per Sqr Ft'] = home_median_listing_price_per_sqr_ft_df.iloc[:, -13:-1].copy(deep=True).mean(axis=1)

# Now incorporate this in our country_attr_df dataframe
# We use an outer merge as we want to include any FIPS counties which were missing in previous dataframe
# These will likely be imputed in the future
county_attr_df = pd.merge(county_attr_df,home_median_listing_price_per_sqr_ft_avg_df,how='outer',on='FIPS')

county_attr_df.head()

,FIPS,Mean Income,Unemployment Rate,Rural-Urban Continuum Code,CountyName,Avg Num Of Sales,crime_rate_per_100000,Avg Listing Price,Avg Listing Per Sqr Ft
0,1000.0,48193,4.4,NaN,NaN,NaN,NaN,NaN,NaN
1,1001.0,58343,3.9,2,Autauga,NaN,251.601926,200641.125000,101.445131
2,1003.0,56607,4,3,Baldwin,458.500000,228.086325,306246.250000,147.828333
3,1005.0,32490,5.9,6,Barbour,NaN,177.278771,163670.833333,88.227731
4,1007.0,45795,4.4,1,Bibb,4.666667,217.661692,144979.083333,87.040312

In [22]:
# Now incorporate data frome crosswalk_count_df
# From here we want to include the State Name

# Now incorporate this in our country_attr_df dataframe
# We use an outer merge as we want to include any FIPS counties which were missing in previous dataframe
# These will likely be imputed in the future
county_attr_df = pd.merge(county_attr_df,crosswalk_count_df[['FIPS','StateName']],how='outer',on='FIPS')

county_attr_df.head()

,FIPS,Mean Income,Unemployment Rate,Rural-Urban Continuum Code,CountyName,Avg Num Of Sales,crime_rate_per_100000,Avg Listing Price,Avg Listing Per Sqr Ft,StateName
0,1000.0,48193,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001.0,58343,3.9,2,Autauga,NaN,251.601926,200641.125000,101.445131,Alabama
2,1003.0,56607,4,3,Baldwin,458.500000,228.086325,306246.250000,147.828333,Alabama
3,1005.0,32490,5.9,6,Barbour,NaN,177.278771,163670.833333,88.227731,Alabama
4,1007.0,45795,4.4,1,Bibb,4.666667,217.661692,144979.083333,87.040312,Alabama

Before saving change all values in FIPS to integer type

In [23]:
county_attr_df.FIPS = county_attr_df.FIPS.astype(int)

county_attr_df.head()

,FIPS,Mean Income,Unemployment Rate,Rural-Urban Continuum Code,CountyName,Avg Num Of Sales,crime_rate_per_100000,Avg Listing Price,Avg Listing Per Sqr Ft,StateName
0,1000,48193,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,58343,3.9,2,Autauga,NaN,251.601926,200641.125000,101.445131,Alabama
2,1003,56607,4,3,Baldwin,458.500000,228.086325,306246.250000,147.828333,Alabama
3,1005,32490,5.9,6,Barbour,NaN,177.278771,163670.833333,88.227731,Alabama
4,1007,45795,4.4,1,Bibb,4.666667,217.661692,144979.083333,87.040312,Alabama

We now save this dataframe to the disk

In [24]:
county_attr_df.to_csv(os.path.join(processed_data_folder,'county_attr_df.csv'))